@import 'shared/styles/variables/colors';
@import 'shared/styles/variables/common';

.wrapper {
  display: flex;
  align-items: center;
  background-color: $black;
  position: relative;
  padding: 0 20px;

  @media only screen and (max-width: 876px) {
    padding: 20px;
  }

  @media only screen and (max-width: 724px) {
    flex-direction: column;
    gap: 1rem;
  }

  &::before,
  &::after {
    content: "";
    position: absolute;
    top: 0;
    bottom: 0;
    width: calc((100vw - 100%) / 2);
    background-color: $black;
  }

  &::before {
    right: 100%;
  }

  &::after {
    left: 100%;
  }
}

.content {
  display: flex;
  align-items: center;
  gap: 2rem;
}

.textContent {
  display: flex;
  flex-direction: column;
  max-width: 260px;
  gap: 5px;
}

.title {
  color: white;
  font-size: 45px;
  font-weight: 700;
  line-height: 40px;
  letter-spacing: 0em;
  text-align: left;
  text-transform: none;
}

.text {
  color: white;
  font-size: 16px;
  font-weight: 400;
  line-height: 20px;
  letter-spacing: 0em;
  text-align: left;
}

.button {
  width: 260px;
  color: white !important;
  flex-shrink: 1;

  @media only screen and (max-width: 724px) {
    width: 100%;
  }
}

.link {
  margin-left: auto;
  border-radius: $border-radius;

  @media only screen and (max-width: 1280px) {
    position: absolute;
    right: 20px;
    z-index: 1;
    background-color: rgba(0, 0, 0, 0.7);
  }

  @media only screen and (max-width: 876px) {
    position: relative;
    background-color: transparent;
  }

  @media only screen and (max-width: 724px) {
    margin-left: 0;
    right: unset;
    width: 100%;
  }
}

.honeycomb {
  width: 439;
  flex-shrink: 0;
  justify-self: flex-end;

  @media only screen and (max-width: 876px) {
    display: none;
  }
}
.logo {
  flex-shrink: 0;
}
