.wrapper {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.element {
  display: flex;
  align-items: center;
  gap: 1rem;
  max-width: 380px;
  &:nth-child(2n){
    margin-left: 60px;
  }
}

.text {
  font-size: 16px;
  font-weight: 400;
  line-height: 20px;
  letter-spacing: 0em;
  text-align: left;
}
