@import 'shared/styles/variables/colors';
@import 'shared/styles/variables/common';

.button {
  display: flex;
  position: relative;
  justify-content: center;
  align-items: center;
  padding: 5px;
  border-radius: $border-radius;
  border: solid $border-size transparent;
  transition: all $animation-duration ease;
  user-select: none;
  text-transform: none;
  cursor: pointer;
  outline: none;

  & svg path {
    transition: all $animation-duration ease;
  }

  &.primary {
    color: $white;
    background-color: $primary;

    &,
    svg path {
      stroke: $white;
    }

    &:disabled {
      opacity: 0.2;
      pointer-events: none;
      color: $white;
    }
  }

  //styles of light button
  &.light {
    color: $black;
    border-color: $primary;
    background-color: transparent;

    & svg path {
      stroke: $black;
    }

    &:disabled {
      pointer-events: none;
      color: rgba(0, 0, 0, 0.2);
    }

    &:hover {
      color: $white;
      background-color: $primary;
      border-color: transparent;
    }
  }

  //styles of danger button
  &.danger {
    background-color: $red;
    color: white;
    border: $border-size solid $red;

    & svg path {
      stroke: $white;
    }

    &:hover {
      color: $red;
      border-color: $red;

      & svg path {
        stroke: $red;
      }
    }

    &:disabled {
      pointer-events: none;
      background-color: rgba(255, 0, 0, 0.2);
      border-color: rgba(255, 0, 0, 0.2);
    }
  }

  &.text {
    background-color: transparent;

    &:hover {
      color: $black;

      & svg path {
        stroke: $black;
      }
    }

    &:active {
      background-color: rgba(255, 255, 255, 0.3);
      border-color: transparent;
      color: $white;

      & svg path {
        stroke: $white;
      }
    }
  }

  &.withIcon {
    display: flex;
    align-items: center;
    position: relative;
    gap: $grid-gap;

    & svg {
      margin: 0;
    }
  }

  &:hover {
    background-color: transparent;
    border-color: $primary;
    color: black;

    & svg path {
      stroke: $white;
    }
  }

  &:active {
    color: $white;
    border-color: transparent;
    background-color: $primary;
    opacity: 0.7;

    & svg path {
      stroke: $black;
    }
  }

  &:disabled {
    pointer-events: none;
    color: rgba(0, 0, 0, 0.2);
  }
}
