@import 'shared/styles/variables/colors';
@import 'shared/styles/variables/common';

.wrapper {
  display: flex;
  position: relative;
  box-shadow: rgba(0, 0, 0, 0) 0px 1px 3px;
  position: sticky;
  top: 0;
  width: 100%;
  height: 80px;
  padding: 0 20px;
  align-items: center;
  justify-content: space-between;
  z-index: 100;

  &:before {
    content: '';
    position: absolute;
    top: 0;
    width: 100vw;
    bottom: 0;
    left: calc(50% - 50vw);
    z-index: -1;
    border-radius: inherit;
    background: $background;
    opacity: 0.9;
  }
}

.logo {
  /* width: 90px; */
  height: auto;
}

.content {
  display: flex;
  position: relative;
  align-items: center;
  height: 100%;
  gap: 30px;

  @media only screen and (max-width: 740px) {
    display: none;
  }
}

.burger {
  display: none;
  height: 100%;

  @media only screen and (max-width: 740px) {
    display: flex;
  }
}
