.wrapper {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  padding: 0 20px;
  margin-bottom: 60px;
  gap: 40px;

  @media only screen and (max-width: 1024px) {
    flex-direction: column-reverse;
  }
}

.image {
  border-radius: 50%;
  width: 100%;
  max-width: 460px;
  height: auto;
}

.textBlock {
  display: flex;
  flex-direction: column;
  max-width: 670px;
  gap: 50px;

  .title {
    font-size: 45px;
    font-weight: 700;
    line-height: 40px;
    letter-spacing: 0em;
    text-align: left;
    text-transform: none;

    @media only screen and (max-width: 360px) {
      font-size: 20px;
      line-height: 24px;
    }
  }

  .list {
    padding-left: 2rem;
  }

  .text {
    font-size: 22px;
    font-weight: 400;
    line-height: 35px;
    letter-spacing: 0em;
    text-align: left;
  }
}

.button {
  width: 260px;
}
